<div class="page-header">
    <div class="row" >
        <div class="span8">
			<h1>Editing project</h1>
        </div>
    </div>
</div>
<div class="project-form">

	<%= render 'form' %>
</div>

<%= link_to 'Show', @project %> |
<%= link_to 'Back', projects_path %>
