<div class="role span2"> 
	<div class="person-name well text-center"> 
		<% if !role.user.nil? %>
			<h4><%= role.user.full_name %></h4>
		<% else %>
			<h4>Role is Vacant</h4>
		<% end %>
		<p><%= role.title %></p>
	</div>
</div>