<div class="project_role span4"> 
	<div class="person-name well text-center"> 
		<h4>
    		<%= best_in_place role, :user_id, :type => :select, :collection => User::list_user_options %> 
		</h4>

		<p><%= best_in_place role, :title %></p>


	</div>
</div>