// Place all the styles related to the Projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.project {
	border-bottom: solid 1px #CCC; 
	padding: 5px 0
}

.project .admin {
	display: none;
}

.project:hover {
	background: #FAFAFA
}

.project:hover .admin {
	display: inline;
}